trigger: none

resources:
  - repo: self

variables:
  builderImage: registry.gitlab.com/pristo/engage2022/domino-appbuild:V1201_390s
  imageRepository: 'pristo/engage2022/engage-app'  
  dockerRegistryServiceConnection: 'GitLab.com'
  tag: '$(Build.BuildId)'

pool:
  vmImage: ubuntu-latest

stages:
- stage: build 
  displayName: Build NTF
  jobs:
  - job: build
    steps:
    - script: chmod -R go+rwx .
      displayName: 'Adjust permissions'
    - task: Docker@2
      inputs:
        containerRegistry: $(dockerRegistryServiceConnection)
        command: 'login'
    - script: docker run --rm -v $(pwd):/local/project -w /local/project $(builderImage) mvn -o package
      displayName: 'Run docker build'
    - task: Docker@2
      inputs:
        containerRegistry: $(dockerRegistryServiceConnection)
        command: 'logout'
    - task: CopyFiles@2
      inputs:
        SourceFolder: 'target/'
        Contents: '*.ntf'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'templates'
        publishLocation: 'Container'

    - script: docker run --rm -v $(pwd):/local/project -w /local/project $(builderImage) rm -rf ./*
      displayName: 'Work dir cleanup with permissions from the container'
      condition: always()

- stage: deploy 
  displayName: Build Docker and Deploy
  jobs:
  - job: build_docker
    steps:
      - task: DownloadPipelineArtifact@2
        inputs:
          artifact: templates
          targetPath: docker
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
          repository: $(imageRepository)
          buildContext: docker
          containerRegistry: $(dockerRegistryServiceConnection)
          tags: |
              $(tag)
              latest
